<a href="https://colab.research.google.com/github/andrewyamagata/Colab/blob/main/Hello_World.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World!")

Hello World!

In [2]:
disciplina="Formação Profissional em Computação"
qtdSemanas = 8
nota1 = 9.0
nota2 = 7.0
media = (nota1+nota2)/2
media

8.0

In [3]:
print(nota1)

9.0

In [4]:
def media_notas(nota1,nota2):
  return (nota1+nota2)/2

In [6]:
media_notas(4,5)

4.5

In [11]:
def exercicio1():
    palavra=input("Digite uma palavra: ")
    lista=list(palavra)
    segredo=""
    for x in lista:
        if (x=='z'):segredo+='a'
        elif (x=='Z'):segredo+='A'
        else: segredo+=chr(ord(x)+1)
    print(segredo)

In [15]:
exercicio1()

Digite uma palavra: Andrew
Boesfx

In [16]:
lista_notas = [10,5,8]

In [17]:
lista_notas[0]

10

In [18]:
dicionario_alunos = {"nome":"Fulano","idade":22}

In [19]:
dicionario_alunos["nome"]

'Fulano'

In [20]:
import pandas as pd
uri ="https://raw.githubusercontent.com/fivethirtyeight/data/master/alcohol-consumption/drinks.csv"
bebidas=pd.read_csv(uri, error_bad_lines=False,encoding='latin-1')
bebidas.head()

       country  beer_servings  ...  wine_servings  total_litres_of_pure_alcohol
0  Afghanistan              0  ...              0                           0.0
1      Albania             89  ...             54                           4.9
2      Algeria             25  ...             14                           0.7
3      Andorra            245  ...            312                          12.4
4       Angola            217  ...             45                           5.9

[5 rows x 5 columns]

In [21]:
bebidas.columns = ["País","Cervejas","Destilados","Vinhos","Total"]
bebidas.head()

          País  Cervejas  Destilados  Vinhos  Total
0  Afghanistan         0           0       0    0.0
1      Albania        89         132      54    4.9
2      Algeria        25           0      14    0.7
3      Andorra       245         138     312   12.4
4       Angola       217          57      45    5.9